#back {
  background-color: black;
}

.great {
  color: salmon;
}

.header {
  margin: 50px 0;
  color: brown;
  font-family: 'Press Start 2P', cursive;
}

.container {
  margin: 40px 0;
  vertical-align: 10px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.lose {
  background-color: red;
}

.btn {
  height: 100px;
  width: 100px;
  border: 200px;
}

/* try to add later to make it look cooler
.panel:hover {
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-shadow: inset 4px 4px 4px 4px turquoise;
  box-sizing: border-box;
}
*/
.idk {
  color: brown;
  text-align: center;
  font-family: fantasy;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.cyan {
  background-color: cyan;
}

.indigo {
  background-color: indigo;
}

.coral {
  background-color: coral;
}

.maroon {
  background-color: maroon;
}

.seagreen {
  background-color: seagreen;
}

.grey {
  background-color: grey;
}

.salmon {
  background-color: salmon;
}

.olive {
  background-color: olive;
}

.navy {
  background-color: navy;
}

.saddlebrown {
  background-color: saddlebrown;
}
